certifi==2020.12.5
chardet==3.0.4
click==8.0.4
et-xmlfile==1.1.0
Faker==13.3.4
idna==2.10
itsdangerous==2.1.1
Jinja2==3.0.3
MarkupSafe==2.0.0
Naked==0.1.31
openpyxl==3.0.7
pyasn1==0.4.8
PyMySQL==1.0.2
python-dateutil==2.8.2
PyYAML==5.3.1
requests==2.24.0
rsa==4.8
shellescape==3.8.1
six==1.16.0
unittestreport==1.4.0
urllib3==1.25.11
Werkzeug==2.0.3
